*.rds filter=lfs diff=lfs merge=lfs -text
Presentation/wcere_conference/images/spatial_covars_staggered.rds filter=lfs diff=lfs merge=lfs -text
Presentation/wcere_conference/tables/cal_spei.rds filter=lfs diff=lfs merge=lfs -text
